#header {
  top: 0px;
  position: fixed;
  height: 50px;
  width: 100%;
  color: #ffffff;
  background-color: #0c3f80;
  z-index: 10;
  text-color: #000000;
  padding-left: 10%;
  padding-right: 10%;
}

.avoid-top {
  margin-top: 80px;
}

#top-category-picker {
  top: 50px;
  position: fixed;
  width: 100%;
  color: #ffffff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  z-index: 5;
  text-color: #000000;

  /* https://medium.com/@mariusc23/hide-header-on-scroll-down-show-on-scroll-up-67bbaae9a78c */
  height: 50px;
  position: fixed;
  transition: top 0.2s ease-in-out;
}

#top-category-picker.nav-up {
    top: -50px;
}

#top-category-picker .categories-wrapper {
  margin: 15px auto 0px auto;
  text-align: center;
  overflow-y: hidden;
  height: 2.5em;
  max-width: 90%;
}

#top-category-picker .category {
  font-size: 120%;
  font-weight: bold;
  margin: 0 -2px;
}

#top-category-picker span.category a {
  color: white;
  padding: 0 22px;
}

#top-category-picker span.category a.selected {
  border-bottom: 7px solid white;
  padding-bottom: 8px;
}

#top-category-picker span.category a:hover {
  text-decoration: none;
  border-bottom: 8px solid #ffffffaa;
  padding-bottom: 7px;
}

#top-category-picker span.category a.selected:hover {
  border-bottom: 8px solid white;
  padding-bottom: 7px;
}

#header #central-header {
  text-align: left;
  margin-top: -10px;
}

#header #central-header h2 {
  font-size: 25px;
}

#header #central-header img {
  width: 30px;
  height: 30px;
  margin-top: -5px;
}

#header #upper-right #search-bar {
  float: left;
  width: 400px;
  margin-top: -7px;
  margin-right: 20px;
}

#header #search-bar input {
  height: 30px;
  width: 100%;
}

#search-input {
  color: black;
  padding: 0 10px;
}

#header #upper-right {
    position: absolute;
    right: 7%;
    top: 15px;
    display: block;
    height: 50px;
    text-decoration: none;
}

#header #upper-right img {
  margin-top: -10px;
  height: 35px;
  width: 35px;
}

#header #upper-right span.caret {
  margin-top: -5px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #ffffff;
}

#header #upper-right .glyph-link {
  font-size: 140%;
}

#header #upper-right .glyph-link img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

#header #upper-right .cart-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: blue;
  height: 20px;
  font-size: 70%;
  text-align: center;
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
}

#header #upper-right a {
  color: #fff;
}

/* Workaround for weird line upon hover */
#header #upper-right .dropdown a {
  color: #ffffff00;
}

#header #upper-right .dropdown-menu li a {
  color: #000;
}

#header .topmenu-dropdown {
  float: left;
}

#header .topmenu-name {
  margin-left: 10px;
  float: left;
}

@media (max-width: 600px) {
  #header .topmenu-name {
    display: none;
  }
}

#header .topmenu-links {
  margin-left: 20px;
  float: left;
}

#back-button {
  margin-left: 10px;
}

#footer {
  bottom: 0px;
  position: fixed;
  height: 40px;
  width: 100%;
  color: #ffffff;
  background: rgb(114, 118, 191);
  text-align: right;
  padding-top: 10px;
  padding-right: 30px;
}

#footer a {
  color: #ffffff;
}

.interactionDisabled {
  pointer-events: none;

  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}

#searchListing {
  width: 250px;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  #searchListing {
    width: 500px;
  }
}

@media (min-width: 1250px) {
  #searchListing {
    width: 750px;
  }
}

@media (min-width: 1500px) {
  #searchListing {
    width: 1000px;
  }
}

#loading-indicator {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
  font-size: 120%;
  font-weight: bold;
}

#loading-indicator img {
  margin-top: -3px
}

body {
  padding-bottom: 20px;
}

.product-preview-modal {
  max-width: 940px;
}

h1.product-name {
  font-size: 140%;
  font-weight: unset;
  line-height: unset;
  margin: unset;
  margin-bottom: 10px;
}

span.stars, span.stars span {
    display: inline-block;
    background: url(/img/stars.png?v=1) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars.stars-nobg, span.stars.stars-nobg span {
    background: url(/img/stars_nobg_lightergray.png) 0 -16px repeat-x;
}

span.stars span, span.stars.stars-nobg span {
    background-position: 0 0;
}

span.inline-glyph span {
  top: 3px;
}

span.star-meter {
  width: 100px;
  height: 10px;
  display: inline-block;
  background-color: #eee;
}

span.star-meter-filled {
  width: 60px;
  height: 10px;
  display: inline-block;
  background-color: #b1b1b1;
}

.product-price-container {
  text-align: left;
  width: 100%;
  vertical-align: middle;
  margin-top: 5px;
}

.original-price {
  color: #b1b1b1;
  text-decoration: line-through;
}

.product-price-container .original-price {
  font-size: 80%;
  text-decoration: line-through;
  margin-left: 5px;
}

.product-whitebg-price-container .original-price {
  font-size: 140%;
  float: left;
  padding-top: 17px;
}

.product-price-container .price {
  font-size: 120%;
  color: #222222;
}

.product-whitebg-price-container .price {
  font-size: 240%;
  color: #000000;
  float: left;
  margin-left: 15px;
}

.btn-group.variant-button {
  margin-bottom: 15px;
}

.btn-lg {
  border-radius: 0px;
}

.product-preview-modal .btn-lg {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-group {
  width: 100%;
}
.dropdown-toggle, .dropdown-menu {
  width: 100%;
}
.btn-group img { margin-right: 10px }
.dropdown-toggle {
  padding-right: 50px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.dropdown-toggle .glyphicon { margin-left: 20px; margin-right: -40px }
.dropdown-menu>li>a:hover { background: #f1f9fd } /* $search-blue */
.dropdown-header { background: #ccc; font-size: 14px; font-weight: 700; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 5px }

.dropdown-menu > li > a {
  padding: 8px 20px;
}

.dropdown-menu li {
  border-bottom: 1px solid #eee;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.btn.preview-photo-chooser {
  margin-bottom: 20px;
}

.product-large-image {
  width: 400px;
  margin: 0px auto 30px auto;
  display: inherit;
}

/* https://stackoverflow.com/questions/9925754/css-horizontal-scroll */
.photo-chooser {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 80px;
  white-space:nowrap;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  width: 80%;
  float: left;
}

.photo-chooser img {
  margin: 10px;
  max-height: 50px;
  min-width: 50px;
  cursor: pointer;
  display:inline-block;
  *display:inline;/* For IE7*/
  *zoom:1;/* For IE7*/
  vertical-align:top;
}

.photo-chooser img:first-child {
  margin-left: 15px;
}

.photo-chooser img:last-child {
  margin-right: 15px;
}

.photo-chooser-wrapper .photo-chooser-chevron {
  width: 5%;
  height: 5%;
  padding-top: 3.5%;
  float: left;
  cursor: pointer;
}

.tab-pane {
  margin-top: 25px;
  font-size: 85%;
}

.tab-pane .heading {
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 10px;
}

table.table-innerborder {
    border-collapse: collapse;
    border-style: hidden;
}

table.table-innerborder td, table.table-innerborder th {
    border: 1px solid #bdbdbd;
}

.stars-flipped {
  display: inline-block;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.shrink-from-right {
  display: inline-block;
  transform: scale(0.7);
  transform-origin: right;
  margin-top: -4px;
}

.table-shortlines > thead > tr > th,
.table-shortlines> tbody > tr > th,
.table-shortlines> tfoot > tr > th,
.table-shortlines > thead > tr > td,
.table-shortlines > tbody > tr > td,
.table-shortlines > tfoot > tr > td {
  line-height: 0.2;
}

.table-nohorizontalpadding > thead > tr > th,
.table-nohorizontalpadding > tbody > tr > th,
.table-nohorizontalpadding > tfoot > tr > th,
.table-nohorizontalpadding > thead > tr > td,
.table-nohorizontalpadding > tbody > tr > td,
.table-nohorizontalpadding > tfoot > tr > td {
  padding-right: 5px;
  padding-left: 0px;
}

.table-nopadding > thead > tr > th,
.table-nopadding > tbody > tr > th,
.table-nopadding > tfoot > tr > th,
.table-nopadding > thead > tr > td,
.table-nopadding > tbody > tr > td,
.table-nopadding > tfoot > tr > td {
  padding-top: 0px;
  padding-bottom: 0px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.table-centered > tbody > tr > td,
.table-centered > tbody > tr > th,
.table-centered > tfoot > tr > td,
.table-centered > tfoot > tr > th,
.table-centered > thead > tr > td,
.table-centered > thead > tr > th {
    vertical-align: middle;
}

.shopping-cart-partial {
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
}

.shopping-cart-partial .fixed-footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  overflow: auto;
}

.shopping-cart-partial .cart-item {
  margin-bottom: 15px;
}

.shopping-cart-partial .cart-item:last-child {
  margin-bottom: 0px;
}

.shopping-cart-partial .cart-item-thumbnail {
  width: 60px;
}

.shopping-cart-partial .cart-item-text {
  margin-left: 5px;
}

.shopping-cart-partial .btn-lg {
  padding-top: 10px;
  padding-bottom: 10px;
}

.shopping-cart-partial .cart-items-container {
  margin-top: 20px;
  overflow-y: scroll;
  height: calc(100% - 135px);
}

.empty-shopping-cart .cart-glyph {
  color: #b1b1b1;
  font-size: 500%;
}

.cart-page-container {
  margin-top: 100px;
}

.cart-page-container .cart-item {
  width: 100%;
  min-height: 200px;
  margin-bottom: 30px;
  position: relative;
}

.cart-page-container .cart-item-image {
  width: 25%;
  height: 100%;
  float: left;
}

.cart-page-container .cart-item-image img {
  width: 100%;
}

.dashboard-page-container h3 {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  margin-top: 40px;
}

.payment-method {
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  padding: 10px;
}

.row.payment-method {
  margin-left: 0;
  margin-right: 0;
}

#add-payment-method .payment-method, #wire-payment-method .payment-method {
  padding: 0px;
}

.payment-method-logo {
  font-size: 40px;
  padding: 10px;
}

.payment-method-description {
  padding-left: 40px;
}

.payment-method .close {
  position: absolute;
  top: 5px;
  right: 25px;
}

.btn.btn-not-clickable {
  cursor: auto;
}

.cart-item-image .item-stats {
  margin-top: 10px;
}

.cart-item-details {
  float: left;
  width: 75%;
  height: 100%;
  padding-left: 30px;
  padding-right: 40px;
  font-size: 80%;
}

.cart-summary .cart-item-details {
  padding-right: 0px;
}

.cart-summary {
  border: 1px solid #EEEEEE;
}

.cart-summary .heading-label {
  background-color: #EEEEEE ;
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0px;
  padding-left: 20px;
}

.cart-summary .cart-summary-details-container {
  margin-top: 80px;
}

span.product-attribute {
  margin-right: 10px;
}

.cart-item-details div {
  margin-bottom: 5px
}

.cart-item-details div.product-name-line {
  margin-bottom: 15px;
}

.cart-item-details div.product-whitebg-price-container {
  margin-top: 10px;
}

.cart-item-details .original-price {
  padding-top: 5px;
}

.cart-item-details .original-price {
  font-size: 120%;
}

.cart-item-details .price {
  font-size: 160%;
}

.cart-item .remove-button {
  color: #b1b1b1;
  font-size: 120%;
  position: absolute;
  top: -5px;
  right: 20px;
}

.cart-item .remove-button img {
  height: 15px;
}

.checkout-review .cart-item-image {
  width: 50px;
}

.checkout-review .cart-item-image img {
  width: 50px;
}

.checkout-review .product-name-line {
  font-size: 90%;
}

.checkout-review .cart-item {
  min-height: unset;
}

.checkout-review div.product-name-line {
  margin-bottom: 5px;
}


div.order-row {
  margin-top: 30px;
}

div.order-summary {
  background-color: #EEEEEE;
  padding-bottom: 20px;
}

.order-summary-line {
  font-size: 95%;
  margin-top: 12px;
}

.order-summary-line.grand-total {
  font-size: 110%;
  font-weight: bold;
  margin-bottom: 15px;
}

span.left-text {
  float: left;
}

span.right-text {
  float: right;
}

.order-row span.right-text {
  padding-right: 45px;
}

img.inline-loading {
  margin-top: -3px;
  margin-left: 5px;
}

.ui-widget-overlay {
    opacity: .5 !important;
    filter:Alpha(Opacity=.5) !important;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.wrapper {
  display: table-cell;
  height: 400px;
  vertical-align: middle;
}

.pull-right {
  float: right;
}

a, a:active {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #999;
}

/* Breadcrups CSS */

/* https://codepen.io/polinovskyi/pen/embZmw */

.arrow-steps .step {
  font-size: 14px;
  text-align: center;
  color: #000;
  cursor: default;
  margin: 0 3px;
  padding: 10px 10px 10px 30px;
  min-width: 31%;
  float: left;
  position: relative;
  background-color: #eee;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: " ";
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #eee;  
  z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff; 
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step:last-child:after {
  border: none;
}

.arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
  position: relative;
}

.arrow-steps .step span:before {
  opacity: 0;
  content: "✔";
  position: absolute;
  top: -2px;
  left: -20px;
}

.arrow-steps .step.done span:before {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.5s;
  -moz-transition: opacity 0.3s ease 0.5s;
  -ms-transition: opacity 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
  color: #fff;
  background-color: #46e3ff;
}

.arrow-steps .step.current:after {
  border-left: 17px solid #46e3ff;  
}

.checkout-form-wrapper {
  font-size: 90%;
}

.checkout-form-wrapper .form-control {
  font-size: 90%;
  padding: 3px 6px 3px 6px;
  border-radius: 3px;
  height: unset;
  /* FIXME: Compute this correctly. */
  width: 98%;
}

.checkout-form-wrapper select {
  width: 98%;
}

.checkout-form-wrapper .control-label {
  margin-top: 3px;
  padding-left: 0px;
}

.next-button {
  padding-left: 78%;
  padding-right: 4%;
}

#payment-form .next-button {
  margin-top: 30px;
}

#card-errors {
  height: 1.25em;
}

#dropin-container {
  padding-left: 0px;
  padding-right: 4%;
}

div.pad-top {
  padding-top: 3px;
}

.checkout-form-wrapper.checkout-review {
  width: 98%;
}

.checkout-review .row {
  margin-top: 10px;
  margin-bottom: 25px;
}

.rhs {
  text-align: right;
}

.final-review {
  border: 1px solid #eee;
  padding-top: 5px;
  padding-bottom: 10px
}

.btn-error {
  border-color: red;
}

a.shopButton {
  margin-top: 12px;
}

.reviewer-name {
  font-weight: bold;
}

body.login {
  background-color: #237179;
}

body.login .menubar_area {
  background: none;
}

body.login .menubar_area .brand_logo a {
  color: white;
}

.dashboard-header .menubar_area {
  background-color: #04306b;
}

.dashboard-header .menubar_area a {
  color: white;
}

.signup-header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.signup-header h2 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.signup-pane {
  background-color: #e8e8e8;
}

.login-pane {
  background-color: #0c3f80;
}

.login-pane a {
  color: white;
}

.login-pane .forgot-password {
  height: 62px;
  line-height: 62px;
}

.signup-container .input-group-addon {
  border-right: none;
  background: #fff none repeat scroll 0 0;
  border-color: #b4d1f5;
  border-radius: 2px;
}

.request_form .signup-container button {
  width: 100%;
  margin-left: 0px;
}

.request_form .signup-container input:not([type=checkbox]) {
  border-left: none;
  padding-left: 8px;
  background: #fff none repeat scroll 0 0;
}

.signup-container .content-pane {
  color: white;
}

.signup-container .content-pane p {
  color: #eee;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.login-pane .signup-header h2 {
  color: white;
}

.divider {
  margin-top: 30px;
  margin-bottom: 20px;
}

.divider hr {
  margin-bottom: -0.75em;
}

.divider-text {
  background-color: white;
  margin: 0 auto;
  font-style: italic;
  width: 50px;
  text-align: center;
}

.back-button {
  position: absolute;
}

.back-button img {
  width: 24px;
  height: 24px;
}

.login-errors {
  color: red;
}

.login-errors a {
  color: #59ABE3;
  text-decoration: underline;
}

.login-errors a:hover {
  color: #8CDEFF;
}

.btn-default.btn-default-lightgray {
  background-color: #edf1f5;
}

.btn-default.btn-default-lightgray:hover {
  background-color: #eeeeee;
}

.btn-primary.btn-primary-fb {
  background-color: #3B579D;
  position: relative;
}

.btn-primary-fb img {
  position: absolute;
  width: 17px;
  left: 15px;
  top: 8px;
}

.btn-primary.btn-primary-email {
  background-color: #428bca;
}

.beta-text-wrapper {
  height: 150px;
}

.deposit-instructions {
  margin: 20px;
  font-size: 120%;
}

.deposit-address {
  margin: 15px 0;
  border: 1px solid #ccc;
  padding: 20px;
  color: black;
  font-weight: bold;
}

.details-table {
  word-wrap: break-word;
  table-layout: fixed;
  font-size: 90%;
}

.details-table td:first-child {
  width: 80px;
  color: #999;
}

.order-history-wrapper {
  border: 1px solid #ddd;
  color: #666666;
  margin-bottom: 50px;
  font-size: 80%;
}

.order-history-wrapper .request_form {
  font-size: 14px;
}

.order-history-wrapper h2 {
  font-size: 24px;
}

.order-history-wrapper.padded-bottom {
  padding-bottom: 40px;
}

.order-history-wrapper .beta-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.order-history-wrapper hr {
  border-top: 1px solid #ddd;
  
}

.order-history-wrapper.selected {
  background-color: #ccc;
}

.order-history-thumbnail img {
  width: 100%;
}

.order-history-product-name {
  color: #666666;
  font-weight: bold;
}

.order-history-product-details {
  color: #666666;
}

.order-status {
  color: #39b4e7;
  font-weight: bold;
}

.order-details-header {
  text-align: center;
  margin-top: 30px;
}

.order-details-title {
  font-size: 120%;
}

.order-details-subtitle {
  font-size: 90%;
}

.order-history-wrapper .footer-row {
  margin-top: 30px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* https://codepen.io/zoerooney/pen/pvOaxR */
.zigzag {
  margin: 16px -10px 32px -10px;
  background: #fff;
  position: relative;
  height: 16px;
  z-index: 1;
}
.zigzag:before, .zigzag:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}
.zigzag:before {
  height: 12px;
  top: 110%;
  background: linear-gradient(-135deg, #ddd 8px, transparent 0) 0 8px, linear-gradient(135deg, #ddd 8px, transparent 0) 0 8px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 16px 16px;
}
.zigzag:after {
  height: 16px;
  top: 100%;
  background: linear-gradient(-135deg, #fff 8px, transparent 0) 0 8px, linear-gradient(135deg, #fff 8px, transparent 0) 0 8px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 16px 16px;
}

#left-bar {
  position: fixed;
  top: 80px;
  height: calc(100% - 110px);
  overflow-y: scroll;
  left: 2%;
  width: 15%;
  z-index: 15;
  color: black;
}

#left-bar a {
  color: #888888;
  font-size: 120%;
  font-weight: bold;
  text-decoration: none;
}

#left-bar a.selected {
  color: #222222;
}

#left-bar a:hover {
  color: #222222;
}

#left-bar p {
  margin-top: 25px;
  margin-bottom: 5px;
}

#left-bar p:first-child {
  margin-top: 0px;
}

#left-bar p.subcategory {
  margin-top: 0px;
  margin-bottom: 0px;
}

#left-bar p.subcategory a {
  font-weight: normal;
  font-size: 100%;
}

#left-bar p:last-child {
  margin-bottom: 30px;
}

#shoppingCartContainer {
  position: fixed;
  width: 250px;
  top: 0px;
  padding-top: 110px;
  right: 0px;
  height: 100%;
  background-color: white;
  border-left: 1px solid gray;
}

@media (max-width: 750px) {
  #left-bar {
    display: none;
  }

  /* TODO: Figure out how to show shopping cart on small screen. */
  #shoppingCartContainer {
    display: none;
  }
}

.category-toggle-image {
  width: 30px;
  margin-right: 10px;
  margin-top: 10px;
}

.collection-grid-item-image {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  margin-left: 3%;
  margin-top: 3%;
  border: 1px solid #ddd;
}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin-left: 3%;
    margin-top: 3%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    border: 1px solid #ddd;
}

.collection-grid-cell {
  margin-bottom: 30px;
  overflow: auto;
  padding-right: 2%;
  padding-bottom: 2%;
}

.collection-grid-cell a {
  color: black;
  cursor: pointer;
}

.collection-grid-cell a:hover {
  text-decoration: none;
}

.collection-grid-cell-title {
  margin-left: 3%;
}

.collection-grid-cell-title .top-title-link {
  width: 100%;
  display: block;
}

      .grid-item {
        float: left;
        width: 230px;
        height: 285px;
        margin: 10px 10px 10px 10px;
      }

      .grid {
        margin-top: 120px;
        margin-left: auto;
        margin-right: auto;
      }

      .product-image-wrapper {
        width: 230px;
        height: 230px;
        line-height: 230px;
        text-align: center;
        display: block;
        border: 1px solid #eee;
        background-color: #ddd;
      }

      .product-image {
        max-width: 100%;
        max-height: 100%;
        min-height: 100%;
        vertical-align: middle;
        margin-top: -4px;
      }

      .content {
          overflow: hidden;
          position: relative;
      }

      .corner-text-wrapper {
          background-color: #ff8000;
          height: 20px;
          width: 50px;
          position: absolute;
          right: 0px;
          top: 5px;
      }
      .corner-text {
        color: white;
          display: block;
          font-weight: bold;
          height: 100px;
          position: absolute;
          width: 50px;
      }
      .corner-text span {
        position: relative;
        display: block;
        text-align: center;
      }

      .splash-photo .corner-text-wrapper {
        right: unset;
        left: 0px;
        font-size: 140%;
        height: 30px;
        width: 70px;
      }

      .splash-photo .corner-text {
        padding-left: 10px;
        padding-top: 2px;
      }

      .subtext-below-price-container {
        margin-top: -5px;
      }

      .subtext-below-price {
        font-size: 80%;
        color: #b1b1b1;
      }

      .reviews-count {
        color: #b1b1b1;
        font-size: 110%;
        margin-top: -4px;
      }

      .product-description img {
        max-width: 100%;
      }

      .save-button-container {
        position: absolute;
        width: 50%;
        bottom: 0px;
        left: 50%;
        background-color: #03D3D3;
      }

      .favorite-link-container {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 150%;
      }

/* https://css-tricks.com/examples/ShapesOfCSS/ */
.heart {
    position: relative;
    width: 25;
    height: 22.5px;
    right: 18px;
    bottom: 3px;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 12.5px;
    top: 0;
    width: 12.5px;
    height: 20px;
    background: #b1b1b1;
    -moz-border-radius: 12.5px 12.5px 0 0;
    border-radius: 12.5px 12.5px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:hover:before,
.heart:hover:after {
    background: red;
}

.selected.heart:before,
.selected.heart:after {
  background: red;
}

.deselected.heart:hover:before,
.deselected.heart:hover:after {
  background: #b1b1b1;
}

.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

.content {
  color: rgb(78, 92, 110);
  font-size: 15px;
}

.muted {
  color: rgb(155, 166, 178);
}

.canceled {
  text-decoration: line-through;
}

.small {
  font-size: 80%;
}

.currency-symbol {
  width: 32px;
}

.currency-symbol-small {
  width: 18px;
}

.right {
  text-align: right;
}

.input-label {
  display: inline-block;
  margin-left: -52px;
  margin-right: 15px;
  text-align: right;
}

.fullwidth-input-label {
  position: absolute;
  right: 30px;
  top: 73px;
}

.conversion-separator {
  display: inline-block;
  font-size: 1.5em;
  vertical-align: middle;
  margin-left: 19px;
  margin-right: 10px;
}

.top-margin {
  margin-top: 20px;
}

div.payment-method .btn, div.payment-method div.block {
  height: 83px;
}

div.block {
  padding: 10px;
}

.prje-form input.full-width, .prje-form span.full-width, .prje-form select.full-width {
  width: 100%;
  height: 40px;
}

.prje-form h3 {
  font-size: 18px;
  font-weight: 500px;
}

.prje-form .form-separator {
  margin-top: 100px;
}

.buy-form input.full-width, .buy-form span.full-width, .buy-form select.full-width {
  height: 83px;
  border-radius: 3px;
  font-size: 160%;
  background-color: #ffffff;
}

.buy-form .input-group.full-width, .buy-form .form-group.full-width {
  width: 100%;
}

.buy-form .input-group input {
  border-right: 0px;
}

.buy-form .input-group .input-group-addon {
  background-color: #ffffff;
  color: #999;
  font-size: 160%;
  text-align: right;
}

.form-control:focus + .input-group-addon {
  border-color: #66afe9;
}

.bfh-selectbox.large-selectbox a.bfh-selectbox-toggle.form-control {
  width: 100%;
  height: 83px;
}

.bfh-selectbox.large-selectbox a.form-control {
  background: none;
}

.bfh-selectbox.large-selectbox .bfh-selectbox-toggle .bfh-selectbox-option {
  height: 75px;
}

.bfh-selectbox.large-selectbox .bfh-selectbox-toggle .selectbox-caret {
  margin-top: 30px;
  margin-right: 0px;
}

.bfh-selectbox.large-selectbox .bfh-selectbox-options ul {
  width: 100%;
  max-width: none;
}

.bfh-selectbox.large-selectbox .bfh-selectbox-options {
  width: 100%;
}

.bfh-selectbox .bfh-selectbox-options ul li:not(:first-child)  {
  margin-top: 20px;
}

.large-selectbox img {
  width: 48px;
  margin-right: 20px;
}

.large-selectbox span.bfh-selectbox-option {
  padding-top: 10px;
  font-size: 120%;
}

textarea.full-width {
  width: 100%;
}

textarea.ample-height {
  height: 100px;
}

.buy-form input.currency-amount {
  width: calc(50% - 22.5px);
  height: 40px;
}

.buy-form input.error, .buy-form select.error {
  border-color: red;
}

.hidden {
  display: none;
}

.loading-spinner.hidden {
  display: none;
}

.loading-spinner {
  display: inline-block;
  position: absolute;
  right: 35px;
  margin-top: 5px;
}

.confirm-button .loading-spinner {
  right: 55px;
}

#add-payment-method .loading-spinner .la-ball-clip-rotate {
  color: black;
}

.confirm {
  text-align: center;
}

.confirm-pane {
  padding: 50px;
}

.confirm-pane .order-history-wrapper {
  font-size: 120%;
  line-height: 45px;
}

.confirm-details table td:first-child {
  text-align: left;
}

.confirm-details table td:last-child {
  text-align: right;
}

.cancel-button {
  margin-top: 20px;
  padding-bottom: 20px;
}

.confirm .confirm-preamble {
  margin-top: 20px;
  color: #777;
}

.confirm .confirm-amount {
  font-size: 2em;
}

.confirm .confirm-details {
  margin-top: 15px;
}

.confirm .confirm-address {
  margin-bottom: 20px;
  word-wrap: break-word;
}

.confirm .confirm-checkmark {
  z-index: 2;
  position: absolute;
  margin: auto;
  left: 0px; right: 0px;
  top: calc(50% - 75px);
}

button.disabled:hover {
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.headerDivider {
     border-right:1px solid #38546d;
     height:80%;
     position:absolute;
     right:0px;
     top:10%;
}

.login-button-container {
  margin-top: 100px;
}

.selection-panel {
  text-align: center;
  padding: 50px;
  font-size: 25px;
  font-weight: 500;
}

.selection-panel .panel-icon {
  font-size: 80px;
  margin-bottom: 25px;
}

.content-pane {
  padding: 20px;
}

.panel-header {
  font-size: 24px;
}

.panel-content {
  margin-top: 20px;
}

.clickable-row {
  cursor: pointer;
}

select.bfh-states.form-control {
    text-indent: 8px;
}

.after-fa {
  margin-left: 7px;
}

.nav > li.active {
  background-color: #f5f5f5;
}

.menubar_area .nav > li.active {
  background-color: #2c2c31;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #b3cce6;
  border-color: #b3cce6;
  background-image: none;
}

.btn-primary.buyButton, .btn-success.buyButton {
  border-radius: 3px;
  height: 83px;
}

.alert-info a {
  color: #31708f;
}

.progress-bar {
  border-color: #181936;
  border-width: 1px;
  border-style: solid;
  height: 16px;
  width: 100%;
  margin-bottom: 24px;
}

.progress-bar-inner {
  background-color: #181936;
  height: 14px;
  width: 0px;
}

.currency-button {
  padding: 5px 15px;
  margin: 5px 15px;
  font-size: 2rem;
  font-weight: bold;
  background: none;
}

.currency-button.selected {
  border-bottom-color: red;
}

.currency-button img {
  width: 40px;
  margin-right: 10px;
}
